/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
  border-radius: 8px;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}